html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.page{
  margin: 0 auto 0;
  width: 80%;
  min-width: 600px;
  background: white;
  padding: 0 ;
  min-height: 400% ;
  border: 3px solid red;
  overflow: auto;
}

a:focus {
  outline: thin dotted;
}

a:active {
  outline: 0;
}

a.ex2:hover {
  outline: 0;
  background: linear-gradient(#edf6ff, #ADFF2F, #edf6ff); 
  
}

header {
  background: #d5dde5;
  background: -moz-linear-gradient(bottom, #ffffff 0%, #d5dde5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5dde5));
  background: -webkit-linear-gradient(bottom, #ffffff 0%, #d5dde5 100%);
  background: -o-linear-gradient(bottom, #ffffff 0%, #d5dde5 100%);
  background: -ms-linear-gradient(bottom, #ffffff 0%, #d5dde5 100%);
  background: linear-gradient(to top, #ffffff 0%, #d5dde5 100%);
  margin: 0 auto;
  max-width: 1040px;
  position: relative;
  text-align: center;
  top: 0;
  width: 90%;
  z-index: 1;
  padding: 2em 2.5em 2em 2.5em;
}

h1 {
  font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 400%;
  font-weight: 700;
}

body {
	
  background: -moz-linear-gradient(left,#0f2a36, #ffffff, #0f2a36);
  background: -webkit-gradient(left,#0f2a36, #ffffff, #0f2a36);
  background: -webkit-linear-gradient(left,#0f2a36, #ffffff, #0f2a36);
  background: -o-linear-gradient(left,#0f2a36, #ffffff, #0f2a36);
  background: -ms-linear-gradient(left,#0f2a36, #ffffff, #0f2a36);
  background: linear-gradient(left,#0f2a36, #ffffff, #0f2a36); 	

  color: #0f2a36;
  font-family: 'Open Sans', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.25em;
    text-align: justify;
}

h2 {
  color: #dd3b2a;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 500;
}

h3 {
  color: #dd3b2a;
  font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.25em;
  margin: 0.5em 0;
    text-align: center;
}

h4 {
  font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 110%;
  font-weight: 700;
}

a {
  color: #2babe1;
  text-decoration: none;
}

header h1 {

  color: #00374f;
  display: inline-block;
  min-height: 70px;
  margin: 55px auto 0;
  padding: 0 10px;
  z-index: 2;
}

header h2 {
  max-width: 695px;
  margin: -10px auto 0;
  width: 100%;
}

.intro {
  clear: left;
  float: left;
  max-width: 495px;
  margin: 0 auto 0;
  width: 43.5%;
  z-index: 4;
  padding:1.5em 1.5em 1.5em 2em;
  margin: 0 auto 0;
  
  background: -moz-linear-gradient(#ffffff, #edf6ff, #ffffff, #ffffff);
  background: -webkit-gradient(#ffffff, #edf6ff, #ffffff, #ffffff);
  background: -webkit-linear-gradient(#ffffff, #edf6ff, #ffffff, #ffffff);
  background: -o-linear-gradient(#ffffff, #edf6ff, #ffffff, #ffffff);
  background: -ms-linear-gradient(#ffffff, #edf6ff, #ffffff, #ffffff);
  background: linear-gradient(#ffffff, #edf6ff, #ffffff, #ffffff);    
}

.intro2 {
  float: left;
  max-width: 495px;
  margin: 0 auto 0;
  width: 43.5%;
  z-index: 4;
  padding:1.5em 1.5em 1.5em 2em;
  margin: 0 auto 0;
  
    background: -moz-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: -webkit-gradient(#ffffff, #edf6ff, #ffffff);
  background: -webkit-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: -o-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: -ms-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: linear-gradient(#ffffff, #edf6ff, #ffffff);  
}

.intro3 {

  float: left;
  max-width: 495px;
  margin: 0 auto 0;
  width: 43%;
  z-index: 4;
  padding:1.5em 1.5em 1.5em 2em;
  margin: 0 auto 0;
  min-height: 417px;


  background: -moz-linear-gradient(#ffffff, #d5dde5, #ffffff);
  background: -webkit-gradient(#ffffff, #d5dde5, #ffffff);
  background: -webkit-linear-gradient(#ffffff, #d5dde5, #ffffff);
  background: -o-linear-gradient(#ffffff, #d5dde5, #ffffff);
  background: -ms-linear-gradient(#ffffff, #d5dde5, #ffffff);
  background: linear-gradient(#ffffff, #d5dde5, #ffffff);  
  
  z-index: 4;	 
    position: relative;
  
}

.intro4 {

  float: left;
  max-width: 495px;
  margin: 0 auto 0;
  width: 43%;
  z-index: 4;
    padding:1.5em 1.5em 1.5em 2em;
  margin: 0 auto 0;
  position: relative;

  background: -moz-linear-gradient(#ffffff, #d5dde5, #ffffff);
  background: -webkit-gradient(#ffffff, #d5dde5, #ffffff);
  background: -webkit-linear-gradient(#ffffff, #d5dde5, #ffffff);
  background: -o-linear-gradient(#ffffff, #d5dde5, #ffffff);
  background: -ms-linear-gradient(#ffffff, #d5dde5, #ffffff);
  background: linear-gradient(#ffffff, #d5dde5, #ffffff);   
  
  z-index: 4;   
}

.nav {

  float: left;
  max-width: 495px;
  margin: 0 auto 0;
  width: 43%;
  z-index: 4;
    padding:1.5em 1.5em 1.5em 2em;
  margin: 0 auto 0;
  
    background: -moz-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: -webkit-gradient(#ffffff, #edf6ff, #ffffff);
  background: -webkit-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: -o-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: -ms-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: linear-gradient(#ffffff, #edf6ff, #ffffff);  


}


.source {

  float: left;
  max-width: 495px;
  margin: 0 auto 0;
  width: 43%;
  z-index: 4;
    padding:1.5em 1.5em 1.5em 2em;
  margin: 0 auto 0;
  
    background: -moz-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: -webkit-gradient(#ffffff, #edf6ff, #ffffff);
  background: -webkit-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: -o-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: -ms-linear-gradient(#ffffff, #edf6ff, #ffffff);
  background: linear-gradient(#ffffff, #edf6ff, #ffffff);  


}

ul {
list-style-type: none;
  width: 100%;
  font-size: 130%;
    line-height:150%;
}

.author{

  width: 100%;
  float: left;
  z-index: 1;
  margin: 0 auto 0;
    background: #00374f;
  background: -webkit-linear-gradient( white, #d5dde5 ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( white, #d5dde5 ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( white, #d5dde5 ); /* For Firefox 3.6 to 15 */
  background: linear-gradient( white, #d5dde5 ); /* Standard syntax */ 
}

.author i{
	  color: #dd3b2a;
}

#au{
	    padding:0 2em 2em 2em;

}

img {
    max-width: 100%;
    max-height: 10%;
}


.sun { 
  position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;  
	width:70px;
	height:70px;
	border-radius:50%;	
	background: rgb(255,255,0);
	opacity:0.4;			
	box-shadow: 0px 0px 40px 15px white;  

}

.ray_box {
  position: absolute;
  margin: auto;
	top:0px;
	left:0;
	right:0;
	bottom:0;	
  width:70px;  
  -webkit-animation: ray_anim 30s linear infinite;
  animation: ray_anim 30s linear infinite;
}
.ray {  
    background: -webkit-linear-gradient(top, rgba(255,255,0,0) 0%, rgba(255,255,0,0.8) 50%, rgba(255,255,0,0) 100%);
		background: linear-gradient(top, rgba(255,255,0,0) 0%, rgba(255,255,0,0.8) 50%, rgba(255,255,0,0) 100%); 
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:1.2;
}

.ray1 {    
    height:170px;
    width:30px;
   -webkit-transform: rotate(180deg);
    top:-175px;
    left: 15px;
}
.ray2 {
    height:100px;
    width:8px;
   -webkit-transform: rotate(220deg);
    top:-90px;
    left: 75px;
}
.ray3 {
    height:170px;
    width:50px;
   -webkit-transform: rotate(250deg);
    top:-80px;
    left: 100px;
}
.ray4 {
    height:120px;
    width:14px;
   -webkit-transform: rotate(305deg);
    top:30px;
    left: 100px;
}
.ray5 {
    height:140px;
    width:30px;
   -webkit-transform: rotate(-15deg);
    top:60px;
    left: 40px;
}
.ray6 {
    height:90px;
    width:50px;
   -webkit-transform: rotate(30deg);
    top:60px;
    left: -40px;
}
.ray7 {
    height:180px;
    width:10px;
   -webkit-transform: rotate(70deg);
    top:-35px;
    left: -40px;
}
.ray8 {
    height:120px;
    width:30px;
   -webkit-transform: rotate(100deg);
    top:-45px;
    left:-90px;
}
.ray9 {
    height:80px;
    width:10px;
   -webkit-transform: rotate(120deg);
    top:-65px;
    left:-60px;
}
.ray10 {
    height:190px;
    width:23px;
   -webkit-transform: rotate(150deg);
    top:-185px;
    left: -60px;
}


@-webkit-keyframes ray_anim { 
		0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

.contact{
    position: fixed;
    top: 5%;
    right: 2%;
    width: 8%;	
   font-size: 80%;
  text-align: center;	
  color:white;
}

.contact p {
padding: 0 0 0 1em;
}

.contact h3 {
padding: 0 0 0 0.5em;
   font-size: 110%;
}

.image1{
    position: fixed;
    top: 2%;
    left: 0;
    width: 10%;	

  text-align: center;	
}

#logo2{
  margin: 0 auto;
  width:80%;	
  height:80%;	
  border: 2px solid red;
}


#side{
  margin: 0 auto;	
 width: 90%;	
 display: none;

   font-size: 100%;
    line-height:150%;
	  text-align: left;

}

#side p {
 padding: 0 0 0 10%;	
    font-size: 90%;
 	
}

#side h3{
  font-size: 100%;	
  margin: 5% 0 5% 0;
    line-height:100%;  

}

.cap{
	 width: 80%;
  margin: 0 auto;	
}

.cap  h3{
  font-size: 100%;	
    line-height:100%;  
}

.image1:hover   .cap{display: none;}
.image1:hover   #side{display: block;}


a.ex1:hover {
  outline: 0;
  color: white; 

}